.jumbotron.jumbotron-fluid.jumbotron-extend
  .container
    %h1 aaa
    %p aaaa
    = link_to "はじめる", signup_path, class: "btn btn-info btn-lg"
.container
  .container.discription-container
    .row
      .col-md-4
        .discription-img-container
          = image_tag 'calender.png', class: 'discription-img'
        %h2 a
        %p aa
      .col-md-4
        .discription-img-container
          = image_tag 'calender.png', class: 'discription-img'
        %h2 a
        %p aa
      .col-md-4
        .discription-img-container
          = image_tag 'calender.png', class: 'discription-img'
        %h2 a
        %p aa
