- provide(:title, 'ユーザー登録')
- provide(:button_text, '新規ユーザー登録')
.container.signup-container
  .row
    .col
      .signup-logo-img
        = link_to image_tag('logo-img-txt.png', width: 100), root_path, class: "logo-img-txt"
      %h1.signup-title
        ユーザー登録
      = render 'form'