- if @user.errors.any?
  #error_explanation
    .alert.alert-danger.alert-form-extend{:role => "alert"}
      = @user.errors.count
      個のエラーがあります
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg
